<!-- views/allMedicines.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles2.css">
  <title>All Medicines</title>
</head>
<body>

  <header class="header">
    <h1 class="title">Pharmacy Store</h1>
  </header>

  <nav class="navigation">
    <a href="/" class="nav-link">Home</a>
    <a href="/cart" class="nav-link">Cart</a>
  </nav>

  <div class="container">
    <h2 class="section-title">All Medicines</h2>

    <!-- Search Bar -->
    <form action="/search" method="get" class="search-form">
      <label for="search" class="search-label">Search:</label>
      <input type="text" id="search" name="search" placeholder="Search medicines" class="search-input">
      <button type="submit" class="search-button">Search</button>
    </form>

    <% medicines.forEach(medicine => { %>
      <div class="medicine-card">
        <img src="<%= medicine.url %>" width=200 height="auto" alt="<%= medicine.name %>" class="medicine-image">
        <h3 class="medicine-name"><%= medicine.name %></h3>
        <p class="medicine-description"><%= medicine.description %></p>
        <p class="medicine-price">Price: $<%= medicine.price.toFixed(2) %></p>
        <form action="/addToCart/<%= medicine.id %>" method="post" class="add-to-cart-form">
          <button type="submit" class="add-to-cart-button">Add to Cart</button>
        </form>
        <form action="/pharmacy/<%= medicine.id %>" method="get" class="add-to-cart-form">
          <button type="submit" class="add-to-cart-button">View</button>
        </form>
      </div>
    <% }); %>
  </div>

</body>
</html>
