<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="css/styles.css">
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <%if(cred){%>
        <script type="module" src="/appointment.js"></script>
        <%}%>
    <!-- <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script> -->
    <title>Book_Your_Visit</title>
</head>
<body class="appointment">
     <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/healing_heights">Healing_heights</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/symptom_analyzer">Symptom_Analyzer</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link active" href="/book_your_visit">Book_Your_Visit</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/blood_reserves">Blood_Reserves</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/pharmacy">Pharmacy Store</a>
                    </li>
                </ul>
                <div class="expandsize"></div>
                <div>
                  <%if(cred){%>
               <a class="nav-link"href="/detailed_info">My Profile</a>
                   <%}
                   else {%>
                    <a class="nav-link"href="/signin">Sigin/Register</a> 
                    <%}%>
                </div>
            </div>
        </div>
    </nav>
    <form action="/book_your_visit" method="post" class="flex" >
        <fieldset>
        <legend> Basic Information: </legend>
        </fieldset>
        <input type="hidden" name="userId" value=<%userinfo.id%>> 
        <label for="Name">Full Name </label>
          <input type="text" name="Name" id="Name" required>
          <label for="Hospital" class="signin-please" required>Hospital/Doctor Name: </label>
          <select id="Hospital" name="Hospital"  class="disabled-field  js-select2" disabled >
            <% for (var i=0;i<data.data.length;i++){ %>
                <option value="<%=data.data[i]%>"><%=data.data[i]%></option>
           <% }%>
          </select>
          <a href="/symptom_analyzer">Unsure About Doctor Choice? Go To Symptom Analyzer</a>
          <label for="date">Date</label>
          <input type="date" name="date" id="date">
          <label for="freeSlots">Your Comfortable slots</label>
          <select id="freeSlots" name="freeSlots">
            <% for (var i=8,j=10;i<20;i+=2,j+=2){ %>
                <%var a="AM"%>
                <%var b="AM"%>
                <%if(i>=12){%>
                     <%a="PM"%>
                <%}%>
                <%if(j>=12){%>
                     <%b="PM"%>
                <%}%>
                <option value="<%=i%>"><%=(i%12==0)?(12):(i%12)%>&nbsp;<%=a%>&nbsp;to&nbsp;<%=(j%12==0)?(12):(j%12)%>&nbsp;<%=b%></option>
           <% }%>
          </select>
          <label for="UserAdd">Address</label>
          <textarea name="userAdd" id="UserAdd" cols="30" rows="10"></textarea>
          <label for="Symptoms">Describe your Symptoms</label>
          <textarea name="Symptoms" id="Symptoms" cols="30" rows="10" placeholder="Should be comma separated as shown: Faint, Stroke, Stomachache"></textarea>
          <label for="tel">Contact No.</label>
          <input type="text" name="tel" id="tel" pattern="^(\+\d{0,2})?\s?\d{3}\s?\d{3}\s?\d{4}$" placeholder="+91 956 178 8888" required>
          <label for="email">Email</label>
          <input type="email" name="email" id="email">
          <button type="submit" class="disabled-field" disabled>Submit</button>
    </form>
    <div>
        <p class="footer"><span class="bi bi-facebook"></span>
            <span class="bi bi-twitter"></span>
            <span class="bi bi-instagram"></span>
            <span class="bi bi-youtube"></span></p>
        <br>
        <table class="footer">
            <tr>
                <td>PRIVACY POLICY | TERMS OF USE</td>
            </tr>
            <tr>
                <td>Copyright &copy; 2023 Healing Heights</td>
            </tr>
        </table>
    </div>
     <script>
        $(document).ready(function() {
            $('.js-select2').select2();
        });
    </script>
</body>
</html>