<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Your Visit</title>
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <!-- <link rel="stylesheet" href="css/styles.css"> -->
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script type="module" src="/dashboard.js"></script>
    <link rel="stylesheet" href="css/styles1.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/healing_heights">Healing_heights</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link  active" href="/home">Dashboard</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/book_your_visit">Book_Your_Visit</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/blood_reserves">Blood_Reserves</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/pharmacy">Pharmacy Store</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/symptom_analyzer">Symptom_Analyzer</a>
                    </li>
                </ul>
                <div class="expandsize"></div>
                <div class="profile">
                   <a class="nav-link" id="profile" href="#userInfo"><%=user.name%></a> 
                   <div class="flex1" id="userInfo">
                        <div class="info">Username: <%=user.username%></div>
                        <div class="info">Date of Birth: <%=user.dob.toLocaleDateString()%></div>
                        <div class="info">City: <%=user.city%></div>
                        <a class="info" href="/detailed_info">View More</a>
                        <form action="/logout" method="post"><button type="submit" class="info myBtn2">Logout</button></form>
                   </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="flex-row1 appointment">
        <h2>Active Appointments</h2>
    </div>
    <%appointments.filter((apt)=>{%>
        <%if(apt.status==="active"){%>
            <div class="flex">
                <div><%=apt.hospitalOrDoctor%></div>
                <div><%=apt.date.toLocaleDateString()%></div>
                <div>Slot Time: 
                     <% var i=apt.slotStart; var j=i+2;%>
                     <%var x=" AM"; var y=" PM"; var z=" NOON";%>
                     <%=(i%12==i)?(i%12+x):(i%12==0)?(i+z):(i%12+y)%> to
                     <%=(j%12==j)?(j%12+x):(j%12==0)?(j+z):(j%12+y)%>
                </div>
                <%if(apt.scheduledTime){%>
                    <div>Your Scheduled Time is <%=apt.scheduledTime.toLocaleString()%>, Please Visit on Time!</div>
                 <%}%>
                <form action=<%=`cancel/${apt._id}`%> method="post">
                    <button class="myBtn2"type="submit">Cancel Appointment</button>
                </form>
            </div>
       <% }%>
    <%})%>
    <div class="flex-row1 appointment">
        <h2>Inactive Appointments</h2>
    </div>
    <%appointments.filter((apt)=>{%>
        <%if(apt.status==="inactive"){%>
            <div class="flex">
                <div><%=apt.hospitalOrDoctor%></div>
                <div><%=apt.date.toLocaleDateString()%></div>
                <div>Slot Time: 
                     <% var i=apt.slotStart; var j=i+2;%>
                     <%var x=" AM"; var y=" PM"; var z=" NOON";%>
                     <%=(i%12==i)?(i%12+x):(i%12==0)?(i+z):(i%12+y)%> to
                     <%=(j%12==j)?(j%12+x):(j%12==0)?(j+z):(j%12+y)%>
                </div>
                <%if(apt.prescriptions?.length){%>
                    <div>Prescriptions</div>
                  <ol>
                    <%apt.prescriptions.forEach(element => {%>
                          <li><%=element%></li>
                    <%});%>
                  </ol>
                 <%}%>
                <%if(apt.comments?.length){%>
                    <div>Comments</div>
                  <ol>
                    <%apt.comments.forEach(element => {%>
                          <li><%=element%></li>
                    <%});%>
                  </ol>
                 <%}%>
            </div>
       <% }%>
    <%})%>
    <div class="flex-row1 appointment">
        <h2>Cancelled Appointments</h2>
    </div>
    <%appointments.filter((apt)=>{%>
        <%if(apt.status==="cancelled"){%>
            <div class="flex">
                <div><%=apt.hospitalOrDoctor%></div>
                <div><%=apt.date.toLocaleDateString()%></div>
                <div>Slot Time: 
                     <% var i=apt.slotStart; var j=i+2;%>
                     <%var x=" AM"; var y=" PM"; var z=" NOON";%>
                     <%=(i%12==i)?(i%12+x):(i%12==0)?(i+z):(i%12+y)%> to
                     <%=(j%12==j)?(j%12+x):(j%12==0)?(j+z):(j%12+y)%>
                </div>
            </div>
       <% }%>
    <%})%>
</body>

</html>
